<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% include "html/default/tabs.html" with active="announcements" action-path="/announcements" %}
      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">

	  {% ifequal announcements|count 0 %}
	  <h1 class="title is-size-4">No community announcement</h1>
	  {% else %}
	  <h1 class="title is-size-4">
	    <span>
	      Community announcements ({{announcements|count}})
	      <a class="tag is-info is-light" href="/announcements.rss">RSS</a>
	      <a class="tag is-success is-light" href="/announcements.json">JSON</a>
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-fullwidth">
	      <thead>
		<tr>
		  <th>Subject</th>
		  <th width="15%">User</th>
		  <th width="15%"><a href="?sorting-by=date" title="Sort announcements by date">Date</a></th>
		  <th width="5%"><a href="?sorting-by=refs" title="Sort announcements by number of references">Refs</a>
		  </th>
		</tr>
	      </thead>
	      <tbody>
		{% for announcement in announcements %}
		<tr>
		  <td>
		    {% if announcement.link %}
		    <a href="{{announcement.link}}" target="_blank" title="Visit email sent by {{announcement.from}} on {{announcement.date}}">{{announcement.subject}}</a>
		    {% else %}
		    {{announcement.subject}}
		    {% endif %}
		  </td>
		  <td>{{announcement.username}}</td>
		  <td>{{announcement.date|date:shortDate}}</td>
		  <td>{{announcement.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}	  
	</div>
      </section>
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
