<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">

      {% include "html/default/tabs.html" with active="bugs" action-path="/bugs" %}
      {% if config.features.bug %}
      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  {% ifequal confirmed-bugs|count 0 %}
	  <h1 id="confirmed-bugs" class="title is-size-4">No bug to fix</h1>
	  {% else %}
	  <h1 id="confirmed-bugs" class="title is-size-4">
	    <span>
	      {{confirmed-bugs|count}} bug{{confirmed-bugs|pluralize}} to fix
	      {% if config.export-formats.rss %}<a class="tag is-info is-light" href="bugs-confirmed.rss">RSS</a>{% endif %}
	      {% if config.export-formats.json %}<a class="tag is-success is-light" href="bugs-confirmed.json">JSON</a>{% endif %}
	      {% if config.export-formats.org %}<a class="tag is-danger is-light" href="bugs-confirmed.org">ORG</a>{% endif %}
	      {% if config.export-formats.md %}<a class="tag is-warning is-light" href="bugs-confirmed.md">MD</a>{% endif %}
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-hoverable is-bordered is-fullwidth">
	      <thead>
		<tr>
		  <th class="has-text-centered" width="3%">I!I</th>
		  <th>Subject</th>
		  <th width="15%"><a href="?sorting-by=user#confirmed-bugs" title="Sort bugs by author">From<a></th>
		    <th width="15%"><a href="?sorting-by=date#confirmed-bugs" title="Sort bugs by date">Date</a></th>
		    <th class="has-text-centered" width="5%"><a href="?sorting-by=refs#confirmed-bugs" title="Sort bugs by number of references">Refs</a></th>
		</tr>
	      </thead>
	      <tbody>
		{% for bug in confirmed-bugs %}
		<tr>
		  <td class="has-text-centered">
		    {% ifequal bug.priority 2 %}
		    🟥
		    {% else %}
		    {% ifequal bug.priority 1 %}
		    🟧
		    {% else %}
		    🟨
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>
		    {% if bug.link %}
		    <a href="{{bug.link}}" target="_blank" title="Sent by {{bug.from}} on {{bug.date}}">{{bug.subject}}</a>
		    {% else %}
		    {{bug.subject}}
		    {% endif %}
		  </td>
		  <td>{{bug.username}}</td>
		  <td>{{bug.date|date:shortDate}}</td>
		  <td class="has-text-centered">{{bug.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}

	  {% ifequal unconfirmed-bugs|count 0 %}
	  <h1 id="unconfirmed-bugs" class="title is-size-4">No bug to confirm</h1>
	  {% else %}
	  <h1 id="unconfirmed-bugs" class="title is-size-4">
	    <span>
	      {{unconfirmed-bugs|count}} bug{{unconfirmed-bugs|pluralize}} to confirm
	      {% if config.export-formats.rss %}<a class="tag is-info is-light" href="bugs-unconfirmed.rss">RSS</a>{% endif %}
	      {% if config.export-formats.json %}<a class="tag is-success is-light" href="bugs-unconfirmed.json">JSON</a>{% endif %}
	      {% if config.export-formats.org %}<a class="tag is-danger is-light" href="bugs-unconfirmed.org">ORG</a>{% endif %}
	      {% if config.export-formats.md %}<a class="tag is-warning is-light" href="bugs-unconfirmed.md">MD</a>{% endif %}
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-hoverable is-bordered is-fullwidth">
	      <thead>
		<tr>
		  <th class="has-text-centered" width="3%">I!I</th>
		  <th>Subject</th>
		  <th width="15%"><a href="?sorting-by=user#unconfirmed-bugs" title="Sort bugs by author">From<a></th>
		    <th width="15%"><a href="?sorting-by=date#unconfirmed-bugs" title="Sort bugs by date">Date</a></th>
		    <th class="has-text-centered" width="5%"><a href="?sorting-by=refs#unconfirmed-bugs" title="Sort bugs by number of references">Refs</a></th>
		</tr>
	      </thead>
	      <tbody>
		{% for bug in unconfirmed-bugs %}
		<tr>
		  <td class="has-text-centered">
		    {% ifequal bug.priority 2 %}
		    🟥
		    {% else %}
		    {% ifequal bug.priority 1 %}
		    🟧
		    {% else %}
		    🟨
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>
		    {% if bug.link %}
		    <a href="{{bug.link}}" target="_blank" title="Sent by {{bug.from}} on {{bug.date}}">{{bug.subject}}</a>
		    {% else %}
		    {{bug.subject}}
		    {% endif %}
		  </td>
		  <td>{{bug.username}}</td>
		  <td>{{bug.date|date:shortDate}}</td>
		  <td>{{bug.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}

	</div>
      </section>
      {% else %}
      {% include "html/default/feature-not-enabled.html" %}
      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
