<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% include "html/default/tabs.html" with active="bugs" action-path="/bugs" %}
      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  <h1 class="title" id="bugs">
	    <span>
	      Confirmed bugs ({{bugs|count}})
	      <a class="tag is-info is-light" href="/bugs.rss">RSS</a>
	      <a class="tag is-success is-light" href="/bugs.json">JSON</a>
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-hoverable is-fullwidth is-striped">
	      <thead>
		<tr>
		  <th>Summary</th>
		  <th width="15%">
		    <a href="?sorting-by=date" title="Sort bugs by date">Date</a>
		  </th>
		  <th width="5%">
		    <a href="?sorting-by=refs" title="Sort bugs by number of references">Refs</a>
		  </th>
		</tr>
	      </thead>
	      <tbody>
		{% for bug in bugs %}
		<tr>
		  <td>
		    <p><a href="{{bug.link}}" target="_blank" title="Visit email sent by {{bug.from}} on {{bug.date}}">
			{{bug.summary}}
		    </a></p>
		  </td>
		  <td><p>{{bug.date|date:shortDate}}</p></td>
		  <td><p>{{bug.refs-cnt}}</p></td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	</div>
      </section>
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
