<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% include "html/default/tabs.html" with active="bugs" action-path="/bugs" %}
      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">

	  {% ifequal confirmed-bugs|count 0 %}
	  <h1 class="title is-size-4">No confirmed bug</h1>
	  {% else %}
	  <h1 class="title is-size-4">
	    <span>
	      {{confirmed-bugs|count}} confirmed bug{{confirmed-bugs|pluralize}}
	      <a class="tag is-info is-light" href="/confirmed-bugs.rss">RSS</a>
	      <a class="tag is-success is-light" href="/confirmed-bugs.json">JSON</a>
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-fullwidth">
	      <thead>
		<tr>
		  <th>Subject</th>
		  <th width="15%">User</th>
		  <th width="15%"><a href="?sorting-by=date" title="Sort bugs by date">Date</a></th>
		  <th width="5%">
		    <a href="?sorting-by=refs" title="Sort bugs by number of references">Refs</a>
		  </th>
		</tr>
	      </thead>
	      <tbody>
		{% for bug in confirmed-bugs %}
		<tr>
		  <td>
		    {% if bug.link %}
		    <a href="{{bug.link}}" target="_blank" title="Visit email sent by {{bug.from}} on {{bug.date}}">{{bug.subject}}</a>
		    {% else %}
		    {{bug.subject}}
		    {% endif %}
		  </td>
		  <td>{{bug.username}}</td>
		  <td>{{bug.date|date:shortDate}}</td>
		  <td>{{bug.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}

	  {% ifequal unconfirmed-bugs|count 0 %}
	  <h1 class="title is-size-4">No unconfirmed bug</h1>
	  {% else %}
	  <h1 class="title is-size-4">
	    <span>
	      {{unconfirmed-bugs|count}} unconfirmed bug{{unconfirmed-bugs|pluralize}}
	      <a class="tag is-info is-light" href="/unconfirmed-bugs.rss">RSS</a>
	      <a class="tag is-success is-light" href="/unconfirmed-bugs.json">JSON</a>
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-fullwidth">
	      <thead>
		<tr>
		  <th>Subject</th>
		  <th width="15%">User</th>
		  <th width="15%"><a href="?sorting-by=date" title="Sort bugs by date">Date</a></th>
		  <th width="5%">
		    <a href="?sorting-by=refs" title="Sort bugs by number of references">Refs</a>
		  </th>
		</tr>
	      </thead>
	      <tbody>
		{% for bug in unconfirmed-bugs %}
		<tr>
		  <td>
		    {% if bug.link %}
		    <a href="{{bug.link}}" target="_blank" title="Visit email sent by {{bug.from}} on {{bug.date}}">{{bug.subject}}</a>
		    {% else %}
		    {{bug.subject}}
		    {% endif %}
		  </td>
		  <td>{{bug.username}}</td>
		  <td>{{bug.date|date:shortDate}}</td>
		  <td>{{bug.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}

	</div>
      </section>
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
