<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% include "html/default/tabs.html" with active="changes" action-path="/changes" %}
      {% if config.features.changes %}
      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  {% ifequal changes|count 0 %}
	  <h1 id="upcoming-changes" class="title is-size-4">No upcoming change</h1>
	  {% else %}
	  <h1 id="upcoming-changes" class="title is-size-4">
	    <span>
	      {{changes|count}} upcoming change{{changes|pluralize}} to anticipate
	      {% if config.export-formats.rss %}<a class="tag is-info is-light" href="/changes.rss">RSS</a>{% endif %}
	      {% if config.export-formats.json %}<a class="tag is-success is-light" href="/changes.json">JSON</a>{% endif %}
	      {% if config.export-formats.org %}<a class="tag is-danger is-light" href="/changes.org">ORG</a>{% endif %}
	      {% if config.export-formats.md %}<a class="tag is-warning is-light" href="/changes.md">MD</a>{% endif %}
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-hoverable is-bordered is-fullwidth">
	      <thead>
		<tr>
		  <th class="has-text-centered" width="3%">I!I</th>
		  <th>Subject</th>
		  <th width="15%"><a href="?sorting-by=user#uncomping-changes" title="Sort by author">From<a></th>
		  <th width="15%"><a href="?sorting-by=date#upcoming-changes" title="Sort by date">Date</a></th>
		  <th class="has-text-centered" width="5%"><a href="?sorting-by=refs#upcoming-changes" title="Sort by refs">Refs</a></th>
		</tr>
	      </thead>
	      <tbody>
		{% for change in changes %}
		<tr>
		  <td class="has-text-centered">
		    {% ifequal change.priority 2 %}
		    🟥
		    {% else %}
		    {% ifequal change.priority 1 %}
		    🟧
		    {% else %}
		    🟨
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>
		    {% if change.link %}
		    <a href="{{change.link}}" target="_blank" title="Visit email sent by {{change.from}} on {{change.date}}">{{change.subject}}</a>
		    {% else %}
		    {{change.subject}}
		    {% endif %}
		  </td>
		  <td>
		    {% ifequal change.role 2 %}
		    <strong>{{change.username}}</strong>
		    {% else %}
		    {% ifequal change.role 1 %}
		    <em>{{change.username}}</em>
		    {% else %}
		    {{change.username}}
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>{{change.date|date:shortDate}}</td>
		  <td>{{change.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}
	</div>
      </section>

      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  {% ifequal released-changes|count 0 %}
	  <h1 id="released-changes" class="title is-size-4">No released change</h1>
	  {% else %}
	  <h1 id="released-changes" class="title is-size-4">
	    <span>
	      {{released-changes|count}} released change{{released-changes|pluralize}} to be aware of
	      {% if config.export-formats.rss %}<a class="tag is-info is-light" href="/released-changes.rss">RSS</a>{% endif %}
	      {% if config.export-formats.json %}<a class="tag is-success is-light" href="/released-changes.json">JSON</a>{% endif %}
	      {% if config.export-formats.org %}<a class="tag is-danger is-light" href="/released-changes.org">ORG</a>{% endif %}
	      {% if config.export-formats.md %}<a class="tag is-warning is-light" href="/released-changes.md">MD</a>{% endif %}
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-hoverable is-bordered is-fullwidth">
	      <thead>
		<tr>
		  <th class="has-text-centered" width="3%">I!I</th>
		  <th>Subject</th>
		  <th width="15%"><a href="?sorting-by=user#released-changes" title="Sort by author">From<a></th>
		  <th width="15%"><a href="?sorting-by=date#released-changes" title="Sort by date">Date</a></th>
		  <th class="has-text-centered" width="5%"><a href="?sorting-by=refs#released-changes" title="Sort by refs">Refs</a></th>
		</tr>
	      </thead>
	      <tbody>
		{% for change in released-changes %}
		<tr>
		  <td class="has-text-centered">
		    {% ifequal change.priority 2 %}
		    🟥
		    {% else %}
		    {% ifequal change.priority 1 %}
		    🟧
		    {% else %}
		    🟨
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>
		    {% if change.link %}
		    <a href="{{change.link}}" target="_blank" title="Visit email sent by {{change.from}} on {{change.date}}">{{change.subject}}</a>
		    {% else %}
		    {{change.subject}}
		    {% endif %}
		  </td>
		  <td>
		    {% ifequal change.role 2 %}
		    <strong>{{change.username}}</strong>
		    {% else %}
		    {% ifequal change.role 1 %}
		    <em>{{change.username}}</em>
		    {% else %}
		    {{change.username}}
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>{{change.date|date:shortDate}}</td>
		  <td>{{change.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}
	</div>
      </section>
      {% endif %}

      {% if config.features.releases %}
      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  {% ifequal releases|count 0 %}
	  <h1 id="releases" class="title is-size-4">No announced release</h1>
	  {% else %}
	  <h1 id="releases" class="title is-size-4">
	    <span>
	      {{releases|count}} release{{releases|pluralize}}
	      {% if config.export-formats.rss %}<a class="tag is-info is-light" href="/releases.rss">RSS</a>{% endif %}
	      {% if config.export-formats.json %}<a class="tag is-success is-light" href="/releases.json">JSON</a>{% endif %}
	      {% if config.export-formats.org %}<a class="tag is-danger is-light" href="/releases.org">ORG</a>{% endif %}
	      {% if config.export-formats.md %}<a class="tag is-warning is-light" href="/releases.md">MD</a>{% endif %}
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-hoverable is-bordered is-fullwidth">
	      <thead>
		<tr>
		  <th class="has-text-centered" width="3%">I!I</th>
		  <th>Subject</th>
		  <th width="15%"><a href="?sorting-by=user#releases" title="Sort by author">From<a></th>
		  <th width="15%"><a href="?sorting-by=date#releases" title="Sort by date">Date</a></th>
		  <th class="has-text-centered" width="5%"><a href="?sorting-by=refs#releases" title="Sort by refs">Refs</a></th>
		</tr>
	      </thead>
	      <tbody>
		{% for release in releases %}
		<tr>
		  <td class="has-text-centered">
		    {% ifequal release.priority 2 %}
		    🟥
		    {% else %}
		    {% ifequal release.priority 1 %}
		    🟧
		    {% else %}
		    🟨
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>
		    {% if release.link %}
		    <a href="{{release.link}}" target="_blank" title="Visit email sent by {{release.from}} on {{release.date}}">{{release.subject}}</a>
		    {% else %}
		    {{release.subject}}
		    {% endif %}
		  </td>
		  <td>
		    {% ifequal release.role 2 %}
		    <strong>{{release.username}}</strong>
		    {% else %}
		    {% ifequal release.maintainer 1 %}
		    <em>{{release.username}}</em>
		    {% else %}
		    {{release.username}}
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>{{release.date|date:shortDate}}</td>
		  <td>{{release.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}
	</div>
      </section>
      {% else %}
      {% include "html/default/feature-not-enabled.html" %}
      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
