<footer class="footer">
  <div class="columns">
    <div class="column is-offset-3 is-6 has-text-centered">

      <div class="content">

	{% if data-formats.rss %}
	<a title="Subscribe to important updates via RSS" class="tag is-info is-light" href="updates.rss">RSS</a>
	{% endif %}

	{% if data-formats.json %}
	<a title="Get important updates as a json file" class="tag is-success is-light" href="updates.json">JSON</a>
	{% endif %}

	{% if data-formats.org %}
	<a title="Get important updates as an org file" class="tag is-danger is-light" href="updates.org">ORG</a>
	{% endif %}

	{% if data-formats.md %}
	<a title="Get important updates as a markdown file" class="tag is-warning is-light" href="updates.md">MD</a>
	{% endif %}

      </div>

      <p>Made with <a href="https://git.sr.ht/~bzg/woof">🐕 Woof!</a></p>
    </div>
  </div>
</footer>
