<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% if howto %}
      {% safe %}
      <div class="content">{{howto}}</div>
      {% endsafe %}
      {% else %}
      {% include "html/default/tabs.html" with active="home" action-path="/" %}

      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  {% ifequal changes|count 0 %}
	  <h1 class="title is-size-4">No upcoming change</h1>
	  {% else %}
	  <h1 class="title is-size-4">
	    <span>
	      Upcoming changes
	      <a class="tag is-info is-light" href="/changes.rss">RSS</a>
	      <a class="tag is-success is-light" href="/changes.json">JSON</a>
	    </span>
	  </h1>
	  <div class="content">
	    {% for change in changes %}
	    <p>
	      {% if change.link %}
	      <a href="{{change.link}}" target="_blank" title="Visit email sent by {{change.from}} on {{change.date}}">{{change.subject}}</a>
	      {% else %}
	      {{change.subject}}
	      {% endif %}
	    </p>
	    {% endfor %}
	  </div>
	  {% endifequal %}
	</div>
      </section>

      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  {% ifequal releases|count 0 %}
	  <h1 class="title is-size-4">No announced release</h1>
	  {% else %}
	  <h1 class="title is-size-4">
	    <span>
	      Latest releases
	      <a class="tag is-info is-light" href="/releases.rss">RSS</a>
	      <a class="tag is-success is-light" href="/releases.json">JSON</a>
	    </span>
	  </h1>
	  <div class="content">
	    {% for release in releases %}
	    <p>
	      {% if release.link %}
	      <a href="{{release.link}}" target="_blank" title="Visit email sent by {{release.from}} on {{release.date}}">{{release.subject}}</a>
	      {% else %}
	      {{release.subject}}
	      {% endif %}
	    </p>
	    {% endfor %}
	  </div>
	  {% endifequal %}
	</div>
      </section>

      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
