<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% if howto %}
      {% safe %}
      <div class="content">{{howto}}</div>
      {% endsafe %}
      {% else %}

      {% if config.maintenance %}
      <div class="content colum is-size-1 is-offset-4 is-4 has-text-centered">
	<p class="button is-size-4 is-info is-light">
	  <a title="Send an email to the admin" href="mailto:{{config.admin}}">
	    Under maintenance, sorry.
	  </a>
	</p>
      </div>
      {% else %}

      {% include "html/default/tabs.html" with page %}

      <section class="section" style="padding: 0rem .5rem 1.5rem .5rem">
	<div class="container">

      {% ifequal entries|count 0 %}
      <h1 id="entries" class="title is-size-4">No {{page}}.</h1>
      {% else %}
      <h1 id="entries" class="title is-size-4">
	<span>
	  {% if data-formats.rss %}<a class="tag is-info is-light" href="{{slug-end}}.rss">RSS</a>{% endif %}
	  {% if data-formats.json %}<a class="tag is-success is-light" href="{{slug-end}}.json">JSON</a>{% endif %}
	  {% if data-formats.org %}<a class="tag is-danger is-light" href="{{slug-end}}.org">ORG</a>{% endif %}
	  {% if data-formats.md %}<a class="tag is-warning is-light" href="{{slug-end}}.md">MD</a>{% endif %}
	</span>
      </h1>
      <div class="table-container">
	<table class="table is-hoverable is-bordered is-fullwidth">
	  <thead>
	    <tr>
	      <th class="has-text-centered" width="3%">I!I</th>
	      <th>Subject</th>
	      {% if not source %}
	      {% if 1 < sources|length %}
	      <th>Source</th>
	      {% endif %}
	      {% endif %}
	      <th width="15%"><a href="?sorting-by=user" title="Sort entries by author">From<a></th>
	      <th width="15%"><a href="?sorting-by=date" title="Sort entries by date">Date</a></th>
	      <th class="has-text-centered" width="5%"><a href="?sorting-by=refs" title="Sort entries by number of references">Refs</a>
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for entry in entries %}
	    <tr>
	      <td class="has-text-centered">
		{% ifequal entry.priority 2 %}
		🟥
		{% else %}
		{% ifequal entry.priority 1 %}
		🟧
		{% else %}
		🟨
		{% endifequal %}
		{% endifequal %}
	      </td>
	      <td>
		{% if entry.link %}
		<a href="{{entry.link}}" target="_blank" title="Sent by {{entry.from}} on {{entry.date}}">{{entry.subject}}</a>
		{% else %}
		{{entry.subject}}
		{% endif %}
	      </td>
	      {% if not source %}
	      {% if 1 < sources|length %}
	      <td>
		<a href="/source/{{entry.list-slug}}/"
		   title="Display Woof! page for {entry.list-id}}">
		  {{entry.list-slug}}
		</a>
	      </td>
	      {% endif %}
	      {% endif %}
	      <td>
		{% ifequal entry.role 2 %}
		<strong>{{entry.username}}</strong>
		{% else %}
		{% ifequal entry.role 1 %}
		<em>{{entry.username}}</em>
		{% else %}
		{{entry.username}}
		{% endifequal %}
		{% endifequal %}
	      </td>
	      <td>{{entry.date|date:shortDate}}</td>
	      <td>{{entry.backrefs}}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      {% endifequal %}
      
	</div>
      </section>
      
      {% endif %}
      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
