<!DOCTYPE html>
<html lang="en">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html" %}
    <div class="container">
      {% if howto %}
      {% safe %}
      <div class="content">{{howto}}</div>
      {% endsafe %}
      {% else %}      {% include "html/default/changes.html" %}
      {% include "html/default/help.html" %}
      {% include "html/default/bugs.html" %}
      {% include "html/default/patches.html" %}
      {% include "html/default/releases.html" %}
      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
