<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% include "html/default/tabs.html" with active="overview" action-path="/overview" %}
      {% if display.overview %}

      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  <div class="content">

	    <!-- {% if config.watch.bug %} -->
	    <!-- {% ifequal overview-bug-contributors|count 0 %} -->
	    <!-- <h1 id="overview-bug-contributors|count" class="title is-size-4">No bug contribution</h1> -->
	    <!-- {% else %} -->
	    <!-- <h1 id="overview-bug-contributors" class="title is-size-4"  -->
	    <!-- 	title="Reporting good bugs, confirming or fixing them.">Helping with bugs</h1> -->

	    <!-- <ul> -->
	    <!--   {% for overview-bug-contributor in overview-bug-contributors %} -->
	    <!--   <li title="{{overview-bug-contributor.cnt}} contributions"> -->
	    <!-- 	{% ifequal overview-bug-contributor.role 2 %} -->
	    <!-- 	<strong>{{overview-bug-contributor.email}}</strong> -->
	    <!-- 	{% else %} -->
	    <!-- 	{% ifequal overview-bug-contributor.role 1 %} -->
	    <!-- 	<em>{{overview-bug-contributor.email}}</em> -->
	    <!-- 	{% else %} -->
	    <!-- 	{{overview-bug-contributor.email}} -->
	    <!-- 	{% endifequal %} -->
	    <!-- 	{% endifequal %} -->
	    <!-- 	{% if overview-bug-contributor.home %}<a href="{{overview-bug-contributor.home}}">🏠</a>{% endif %} -->
	    <!-- 	{% if overview-bug-contributor.support %}<a href="{{overview-bug-contributor.support}}">🙏</a>{% endif %} -->
	    <!--   </li> -->
	    <!--   {% endfor %} -->
	    <!-- </ul> -->
	    <!-- {% endifequal %} -->
	    <!-- {% endif %} -->

	    <!-- {% if config.watch.patch %} -->
	    <!-- {% ifequal overview-patch-contributors|count 0 %} -->
	    <!-- <h1 id="overview-patch-contributors|count" class="title is-size-4">No patch contribution</h1> -->
	    <!-- {% else %} -->
	    <!-- <h1 id="overview-patch-contributors" class="title is-size-4"  -->
	    <!-- 	title="Sending good patches, approving or applying them.">Helping with patches</h1> -->
	    <!-- <ul> -->
	    <!--   {% for overview-patch-contributor in overview-patch-contributors %} -->
	    <!--   <li title="{{overview-patch-contributor.cnt}} contributions"> -->
	    <!-- 	{% ifequal overview-patch-contributor.role 2 %} -->
	    <!-- 	<strong>{{overview-patch-contributor.email}}</strong> -->
	    <!-- 	{% else %} -->
	    <!-- 	{% ifequal overview-patch-contributor.role 1 %} -->
	    <!-- 	<em>{{overview-patch-contributor.email}}</em> -->
	    <!-- 	{% else %} -->
	    <!-- 	{{overview-patch-contributor.email}} -->
	    <!-- 	{% endifequal %} -->
	    <!-- 	{% endifequal %} -->
	    <!--   </li> -->
	    <!--   {% endfor %} -->
	    <!-- </ul> -->
	    <!-- {% endifequal %} -->
	    <!-- {% endif %} -->

	    <!-- {% if config.watch.request %} -->
	    <!-- {% ifequal overview-request-contributors|count 0 %} -->
	    <!-- <h1 id="overview-request-contributors|count" class="title is-size-4">No help request handled</h1> -->
	    <!-- {% else %} -->
	    <!-- <h1 id="overview-request-contributors" class="title is-size-4">Handling help requests</h1> -->
	    <!-- <ul> -->
	    <!--   {% for overview-request-contributor in overview-request-contributors %} -->
	    <!--   <li title="{{overview-request-contributor.cnt}} contributions"> -->
	    <!-- 	{% ifequal overview-request-contributor.role 2 %} -->
	    <!-- 	<strong>{{overview-request-contributor.email}}</strong> -->
	    <!-- 	{% else %} -->
	    <!-- 	{% ifequal overview-request-contributor.role 1 %} -->
	    <!-- 	<em>{{overview-request-contributor.email}}</em> -->
	    <!-- 	{% else %} -->
	    <!-- 	{{overview-request-contributor.email}} -->
	    <!-- 	{% endifequal %} -->
	    <!-- 	{% endifequal %} -->
	    <!--   </li> -->
	    <!--   {% endfor %} -->
	    <!-- </ul> -->
	    <!-- {% endifequal %} -->
	    <!-- {% endif %} -->

	    <!-- {% if config.watch.announcement %} -->
	    <!-- {% ifequal overview-announcement-contributors|count 0 %} -->
	    <!-- <h1 id="overview-announcement-contributors|count" class="title is-size-4">No announcement yet</h1> -->
	    <!-- {% else %} -->
	    <!-- <h1 id="overview-announcement-contributors" class="title is-size-4">Sharing announcements</h1> -->
	    <!-- <ul> -->
	    <!--   {% for overview-announcement-contributor in overview-announcement-contributors %} -->
	    <!--   <li> -->
	    <!-- 	{% ifequal overview-announcement-contributor.role 2 %} -->
	    <!-- 	<strong>{{overview-announcement-contributor.email}}</strong> -->
	    <!-- 	{% else %} -->
	    <!-- 	{% ifequal overview-announcement-contributor.role 1 %} -->
	    <!-- 	<em>{{overview-announcement-contributor.email}}</em> -->
	    <!-- 	{% else %} -->
	    <!-- 	{{overview-announcement-contributor.email}} -->
	    <!-- 	{% endifequal %} -->
	    <!-- 	{% endifequal %} -->
	    <!--   </li> -->
	    <!--   {% endfor %} -->
	    <!-- </ul> -->
	    <!-- {% endifequal %} -->
	    <!-- {% endif %} -->

	  </div>
	</div>
      </section>
      {% else %}
      {% include "html/default/feature-not-enabled.html" %}
      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
