<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% include "html/default/tabs.html" with active="overview" %}
      {% if display.overview %}

      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  <div class="content">

	    <p>The "overview" page is not implemented yet.</p>

	    <p>To share ideas on what should be displayed here, please send a message to the <a href="https://lists.sr.ht/~bzg/wooff">Woof! public mailing list</a>.</p>

	  </div>
	</div>
      </section>
      {% else %}
      {% include "html/default/feature-not-enabled.html" %}
      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
