<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% include "html/default/tabs.html" with active="patches" action-path="/patches" %}
      {% if config.features.patches %}
      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">

	  {% ifequal approved-patches|count 0 %}
	  <h1 id="approved-patches" class="title is-size-4">No patch to apply</h1>
	  {% else %}
	  <h1 id="approved-patches" class="title is-size-4">
	    <span>
	      {{approved-patches|count}} patch{{approved-patches|e-pluralize}} to apply
	      {% if config.export.rss %}<a class="tag is-info is-light" href="/approved-patches.rss">RSS</a>{% endif %}
	      {% if config.export.json %}<a class="tag is-success is-light" href="/approved-patches.json">JSON</a>{% endif %}
	      {% if config.export.org %}<a class="tag is-danger is-light" href="/approved-patches.org">ORG</a>{% endif %}
	      {% if config.export.md %}<a class="tag is-warning is-light" href="/approved-patches.md">MD</a>{% endif %}
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-hoverable is-bordered is-fullwidth">
	      <thead>
		<tr>
		  <th class="has-text-centered" width="3%">iI!</th>
		  <th>Subject</th>
		  <th width="15%"><a href="?sorting-by=user#approved-patches" title="Sort patches by author">From<a></th>
		  <th width="15%"><a href="?sorting-by=date#approved-patches" title="Sort patches by date">Date</a></th>
		  <th class="has-text-centered" width="5%"><a href="?sorting-by=refs#approved-patches" title="Sort patches by number of references">Refs</a>
		  </th>
		</tr>
	      </thead>
	      <tbody>
		{% for patch in approved-patches %}
		<tr>
		  <td class="has-text-centered">
		    {% ifequal patch.priority 2 %}
		    🟥
		    {% else %}
		    {% ifequal patch.priority 1 %}
		    🟧
		    {% else %}
		    🟨
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>
		    {% if patch.link %}
		    <a href="{{patch.link}}" target="_blank" title="Visit email sent by {{patch.from}} on {{patch.date}}">{{patch.subject}}</a>
		    {% else %}
		    {{patch.subject}}
		    {% endif %}
		  </td>
		  <td>
		    {% ifequal patch.role 2 %}
		    <strong>{{patch.username}}</strong>
		    {% else %}
		    {% ifequal patch.role 1 %}
		    <em>{{patch.username}}</em>
		    {% else %}
		    {{patch.username}}
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>{{patch.date|date:shortDate}}</td>
		  <td>{{patch.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}	  

	  {% ifequal unapproved-patches|count 0 %}
	  <h1 id="unapproved-patches" class="title is-size-4">No patch to review</h1>
	  {% else %}
	  <h1 id="unapproved-patches" class="title is-size-4">
	    <span>
	      {{unapproved-patches|count}} patch{{unapproved-patches|e-pluralize}} to review
	      {% if config.export.rss %}<a class="tag is-info is-light" href="/unapproved-patches.rss">RSS</a>{% endif %}
	      {% if config.export.json %}<a class="tag is-success is-light" href="/unapproved-patches.json">JSON</a>{% endif %}
	      {% if config.export.org %}<a class="tag is-danger is-light" href="/unapproved-patches.org">ORG</a>{% endif %}
	      {% if config.export.md %}<a class="tag is-warning is-light" href="/unapproved-patches.md">MD</a>{% endif %}
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-hoverable is-bordered is-fullwidth">
	      <thead>
		<tr>
		  <th class="has-text-centered" width="3%">iI!</th>
		  <th>Subject</th>
		  <th width="15%"><a href="?sorting-by=user#unapproved-patches" title="Sort patches by author">From<a></th>
		  <th width="15%"><a href="?sorting-by=date#unapproved-patches" title="Sort patches by date">Date</a></th>
		  <th class="has-text-centered" width="5%"><a href="?sorting-by=refs#unapproved-patches" title="Sort patches by number of references">Refs</a>
		  </th>
		</tr>
	      </thead>
	      <tbody>
		{% for patch in unapproved-patches %}
		<tr>
		  <td class="has-text-centered">
		    {% ifequal patch.priority 2 %}
		    🟥
		    {% else %}
		    {% ifequal patch.priority 1 %}
		    🟧
		    {% else %}
		    🟨
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>
		    {% if patch.link %}
		    <a href="{{patch.link}}" target="_blank" title="Visit email sent by {{patch.from}} on {{patch.date}}">{{patch.subject}}</a>
		    {% else %}
		    {{patch.subject}}
		    {% endif %}
		  </td>
		  <td>
		    {% ifequal patch.role 2 %}
		    <strong>{{patch.username}}</strong>
		    {% else %}
		    {% ifequal patch.role 1 %}
		    <em>{{patch.username}}</em>
		    {% else %}
		    {{patch.username}}
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>{{patch.date|date:shortDate}}</td>
		  <td>{{patch.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}

	</div>
      </section>
      {% else %}
      {% include "html/default/feature-not-enabled.html" %}
      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
