<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% include "html/default/tabs.html" with active="requests" action-path="/requests" %}
      {% if config.features.requests %}
      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">

	  {% ifequal unhandled-requests|count 0 %}
	  <h1 id="unhandled-requests" class="title is-size-4">No request to handle</h1>
	  {% else %}
	  <h1 id="unhandled-requests" class="title is-size-4">
	    <span>
	      {{unhandled-requests|count}} request{{unhandled-requests|pluralize}} to handle
	      {% if config.export.rss %}<a class="tag is-info is-light" href="unhandled-requests.rss">RSS</a>{% endif %}
	      {% if config.export.json %}<a class="tag is-success is-light" href="unhandled-requests.json">JSON</a>{% endif %}
	      {% if config.export.org %}<a class="tag is-danger is-light" href="unhandled-requests.org">ORG</a>{% endif %}
	      {% if config.export.md %}<a class="tag is-warning is-light" href="unhandled-requests.md">MD</a>{% endif %}
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-hoverable is-bordered is-fullwidth">
	      <thead>
		<tr>
		  <th class="has-text-centered" width="3%">I!I</th>
		  <th>Subject</th>
		  <th width="15%"><a href="?sorting-by=user#unhandled-requests" title="Sort help requests by author">From<a></th>
		  <th width="15%"><a href="?sorting-by=date#unhandled-requests" title="Sort help requests by date">Date</a></th>
		  <th class="has-text-centered" width="5%"><a href="?sorting-by=refs#unhandled-requests" title="Sort help requests by number of references">Refs</a></th>
		</tr>
	      </thead>
	      <tbody>
		{% for request in unhandled-requests %}
		<tr>
		  <td class="has-text-centered">
		    {% ifequal request.priority 2 %}
		    🟥
		    {% else %}
		    {% ifequal request.priority 1 %}
		    🟧
		    {% else %}
		    🟨
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>
		    {% if request.link %}
		    <a href="{{request.link}}" target="_blank" title="Visit email sent by {{request.from}} on {{request.date}}">{{request.subject}}</a>
		    {% else %}
		    {{request.subject}}
		    {% endif %}
		  </td>
		  <td>
		    {% ifequal request.role 2 %}
		    <strong>{{request.username}}</strong>
		    {% else %}
		    {% ifequal request.role 1 %}
		    <em>{{request.username}}</em>
		    {% else %}
		    {{request.username}}
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>{{request.date|date:shortDate}}</td>
		  <td>{{request.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}

	  {% ifequal handled-requests|count 0 %}
	  <h1 id="handled-requests" class="title is-size-4">No request currently handled</h1>
	  {% else %}
	  <h1 id="handled-requests" class="title is-size-4">
	    <span>
	      {{handled-requests|count}} request{{handled-requests|pluralize}} currently handled
	      {% if config.export.rss %}<a class="tag is-info is-light" href="handled-requests.rss">RSS</a>{% endif %}
	      {% if config.export.json %}<a class="tag is-success is-light" href="handled-requests.json">JSON</a>{% endif %}
	      {% if config.export.org %}<a class="tag is-danger is-light" href="handled-requests.org">ORG</a>{% endif %}
	      {% if config.export.md %}<a class="tag is-warning is-light" href="handled-requests.md">MD</a>{% endif %}
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-hoverable is-bordered is-fullwidth">
	      <thead>
		<tr>
		  <th class="has-text-centered" width="3%">I!I</th>
		  <th>Subject</th>
		  <th width="15%"><a href="?sorting-by=user#handled-requests" title="Sort help requests by author">From<a></th>
		  <th width="15%"><a href="?sorting-by=date#handled-requests" title="Sort help requests by date">Date</a></th>
		  <th class="has-text-centered" width="5%"><a href="?sorting-by=refs#handled-requests" title="Sort help requests by number of references">Refs</a></th>
		</tr>
	      </thead>
	      <tbody>
		{% for request in handled-requests %}
		<tr>
		  <td class="has-text-centered">
		    {% ifequal request.priority 2 %}
		    🟥
		    {% else %}
		    {% ifequal request.priority 1 %}
		    🟧
		    {% else %}
		    🟨
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>
		    {% if request.link %}
		    <a href="{{request.link}}" target="_blank" title="Visit email sent by {{request.from}} on {{request.date}}">{{request.subject}}</a>
		    {% else %}
		    {{request.subject}}
		    {% endif %}
		  </td>
		  <td>
		    {% ifequal request.role 2 %}
		    <strong>{{request.username}}</strong>
		    {% else %}
		    {% ifequal request.role 1 %}
		    <em>{{request.username}}</em>
		    {% else %}
		    {{request.username}}
		    {% endifequal %}
		    {% endifequal %}
		  </td>
		  <td>{{request.date|date:shortDate}}</td>
		  <td>{{request.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}

	</div>
      </section>
      {% else %}
      {% include "html/default/feature-not-enabled.html" %}
      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
