<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% include "html/default/tabs.html" with active="requests" action-path="/requests" %}
      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">

	  {% ifequal unhandled-requests|count 0 %}
	  <h1 class="title is-size-4">No unhandled request</h1>
	  {% else %}
	  <h1 class="title is-size-4">
	    <span>
	      Pending requests ({{unhandled-requests|count}})
	      <a class="tag is-info is-light" href="/unhandled-requests.rss">RSS</a>
	      <a class="tag is-success is-light" href="/unhandled-requests.json">JSON</a>
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-fullwidth">
	      <thead>
		<tr>
		  <th>Subject</th>
		  <th width="15%">User</th>
		  <th width="15%">
		    <a href="?sorting-by=date" title="Sort help requests by date">Date</a>
		  </th>
		  <th width="5%">
		    <a href="?sorting-by=refs" title="Sort help requests by number of references">Refs</a>
		  </th>
		</tr>
	      </thead>
	      <tbody>
		{% for request in unhandled-requests %}
		<tr>
		  <td>
		    {% if request.link %}
		    <a href="{{request.link}}" target="_blank" title="Visit email sent by {{request.from}} on {{request.date}}">{{request.subject}}</a>
		    {% else %}
		    {{request.subject}}
		    {% endif %}
		  </td>
		  <td>{{request.username}}</td>
		  <td>{{request.date|date:shortDate}}</td>
		  <td>{{request.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}

	  {% ifequal handled-requests|count 0 %}
	  <h1 class="title is-size-4">No request currently handled</h1>
	  {% else %}
	  <h1 class="title is-size-4">
	    <span>
	      Requests being handled ({{handled-requests|count}})
	      <a class="tag is-info is-light" href="/handled-requests.rss">RSS</a>
	      <a class="tag is-success is-light" href="/handled-requests.json">JSON</a>
	    </span>
	  </h1>
	  <div class="table-container">
	    <table class="table is-fullwidth">
	      <thead>
		<tr>
		  <th width="15%">User</th>
		  <th>Subject</th>
		  <th width="15%">
		    <a href="?sorting-by=date" title="Sort help requests by date">Date</a>
		  </th>
		  <th width="5%">
		    <a href="?sorting-by=refs" title="Sort help requests by number of references">Refs</a>
		  </th>
		</tr>
	      </thead>
	      <tbody>
		{% for request in handled-requests %}
		<tr>
		  <td>{{request.username}}</td>
		  <td>
		    {% if request.link %}
		    <a href="{{request.link}}" target="_blank" title="Visit email sent by {{request.from}} on {{request.date}}">{{request.subject}}</a>
		    {% else %}
		    {{request.subject}}
		    {% endif %}
		  </td>
		  <td>{{request.date|date:shortDate}}</td>
		  <td>{{request.backrefs}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endifequal %}

	</div>
      </section>
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
