<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% if config.maintenance %}
      <div class="content colum is-size-1 is-offset-4 is-4 has-text-centered">
	<p class="button is-size-4 is-info is-light">
	  <a title="Send an email to the admin" href="mailto:{{config.admin}}">
	    Under maintenance, sorry.
	  </a>
	</p>
      </div>
      {% else %}
      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  <div class="table-container">
	  <table class="table is-hoverable is-bordered is-fullwidth">
	    <thead>
	      <th>Link</th>
	      <th>List</th>
	      <th>Doc</th>
	    </thead>
	    <tbody>
	      {% for source in sources %}
	      <tr>
		<td><a href="/source/{{source.slug}}/">{{source.slug}}</a></td>
		<td><code>{{source.source-id}}</code></td>
		<td>{{source.doc}}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>	      
	  </div>
	</div>
      </section>
      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
