<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "html/default/head.html" %}
  <body>
    {% include "html/default/hero.html"%}
    <div class="container">
      {% include "html/default/tabs.html" with active="top" action-path="/top" %}
      {% if config.features.top %}

      <section class="section" style="padding: 1.5rem 1.0rem">
	<div class="container">
	  <div class="content">

	    {% if config.features.bug %}
	    {% ifequal top-bug-contributors|count 0 %}
	    <h1 id="top-bug-contributors|count" class="title is-size-4">No bug contribution</h1>
	    {% else %}
	    <h1 id="top-bug-contributors" class="title is-size-4" 
		title="Reporting good bugs, confirming or fixing them.">Helping with bugs</h1>

	    <ul>
	      {% for top-bug-contributor in top-bug-contributors %}
	      <li title="{{top-bug-contributor.cnt}} contributions">
		{% ifequal top-bug-contributor.role 2 %}
		<strong>{{top-bug-contributor.email}}</strong>
		{% else %}
		{% ifequal top-bug-contributor.role 1 %}
		<em>{{top-bug-contributor.email}}</em>
		{% else %}
		{{top-bug-contributor.email}}
		{% endifequal %}
		{% endifequal %}
		{% if top-bug-contributor.home %}<a href="{{top-bug-contributor.home}}">🏠</a>{% endif %}
		{% if top-bug-contributor.support %}<a href="{{top-bug-contributor.support}}">🙏</a>{% endif %}
	      </li>
	      {% endfor %}
	    </ul>
	    {% endifequal %}
	    {% endif %}

	    {% if config.features.patch %}
	    {% ifequal top-patch-contributors|count 0 %}
	    <h1 id="top-patch-contributors|count" class="title is-size-4">No patch contribution</h1>
	    {% else %}
	    <h1 id="top-patch-contributors" class="title is-size-4" 
		title="Sending good patches, approving or applying them.">Helping with patches</h1>
	    <ul>
	      {% for top-patch-contributor in top-patch-contributors %}
	      <li title="{{top-patch-contributor.cnt}} contributions">
		{% ifequal top-patch-contributor.role 2 %}
		<strong>{{top-patch-contributor.email}}</strong>
		{% else %}
		{% ifequal top-patch-contributor.role 1 %}
		<em>{{top-patch-contributor.email}}</em>
		{% else %}
		{{top-patch-contributor.email}}
		{% endifequal %}
		{% endifequal %}
	      </li>
	      {% endfor %}
	    </ul>
	    {% endifequal %}
	    {% endif %}

	    {% if config.features.request %}
	    {% ifequal top-request-contributors|count 0 %}
	    <h1 id="top-request-contributors|count" class="title is-size-4">No help request handled</h1>
	    {% else %}
	    <h1 id="top-request-contributors" class="title is-size-4">Handling help requests</h1>
	    <ul>
	      {% for top-request-contributor in top-request-contributors %}
	      <li title="{{top-request-contributor.cnt}} contributions">
		{% ifequal top-request-contributor.role 2 %}
		<strong>{{top-request-contributor.email}}</strong>
		{% else %}
		{% ifequal top-request-contributor.role 1 %}
		<em>{{top-request-contributor.email}}</em>
		{% else %}
		{{top-request-contributor.email}}
		{% endifequal %}
		{% endifequal %}
	      </li>
	      {% endfor %}
	    </ul>
	    {% endifequal %}
	    {% endif %}

	    {% if config.features.announcement %}
	    {% ifequal top-announcement-contributors|count 0 %}
	    <h1 id="top-announcement-contributors|count" class="title is-size-4">No announcement yet</h1>
	    {% else %}
	    <h1 id="top-announcement-contributors" class="title is-size-4">Sharing announcements</h1>
	    <ul>
	      {% for top-announcement-contributor in top-announcement-contributors %}
	      <li>
		{% ifequal top-announcement-contributor.role 2 %}
		<strong>{{top-announcement-contributor.email}}</strong>
		{% else %}
		{% ifequal top-announcement-contributor.role 1 %}
		<em>{{top-announcement-contributor.email}}</em>
		{% else %}
		{{top-announcement-contributor.email}}
		{% endifequal %}
		{% endifequal %}
	      </li>
	      {% endfor %}
	    </ul>
	    {% endifequal %}
	    {% endif %}

	  </div>
	</div>
      </section>
      {% else %}
      {% include "html/default/feature-not-enabled.html" %}
      {% endif %}
    </div>
    {% include "html/default/footer.html" %}
  </body>
</html>
