;; Copyright (c) 2022 Bastien Guerry <bzg@gnu.org>
;; SPDX-License-Identifier: EPL-2.0
;; License-Filename: LICENSES/EPL-2.0.txt

{
 ;; Information on the mailbox to monitor
 ;; FIXME: Use aero secrets? env variables?
 :inbox-user     #env WOOF_INBOX_USER
 :inbox-server   #env WOOF_INBOX_SERVER
 :inbox-password #env WOOF_INBOX_PASSWORD
 :inbox-folder   #env WOOF_INBOX_FOLDER

 ;; Information on the mail server for sending emails
 :smtp-host     #env WOOF_SMTP_HOST
 :smtp-port     #long #env WOOF_SMTP_PORT
 :smtp-login    #env WOOF_SMTP_LOGIN
 :smtp-password #env WOOF_SMTP_PASSWORD
 :smtp-use-tls  #env WOOF_SMTP_USE_TLS

 ;; General information on the application
 :hostname #or [#env WOOF_HOSTNAME "localhost"]
 :port     #long #or [#env WOOF_PORT 3000]

 ;; Sources
 ;; FIXME: Document how to configure it
 :sources
 {"~bzg/wooff@lists.sr.ht"
  {:slug "wooff"
   :doc  "Allow to document source"
   :ui   {:title        "Liste ~bzg/wooff"
          :project-name "Wooff"
          :project-url  "https://bzg.fr"
          :data-formats {:rss true}}}
  "~bzg/wooff2@lists.sr.ht" {:slug "wooff2" :hidden true}
  "woof-test@bzg.fr"        {:slug "woof-test"}
  }

 ;; Default application state
 :defaults
 {:maintenance   false
  :notifications false}

 ;; :archived-list-message-format "https://public-list-archive.org/%s/<%s>"

 ;; Default application admin
 :admin-address  "bzg@bzg.fr"
 :admin-username "Big Bad Woof"

 :ui {:enabled        true
      :title          "Example woof instance"
      :project-name   "Example project name"
      :project-url    "http://localhost:3000"
      :contribute-url "https://bzg.fr"
      :support-url    "https://localhost:3000"
      :data-formats   {:rss  true
                       :json true
                       :org  true
                       :md   true}
      :pages
      {;; :index {:columns #{:priority :vote :from :date :related-refs :refs-count :status}}
       :news
       {:reports
        ;; :unreleased-changes :releases :latest-released-changes :announcements :blogs
        #{:unreleased-changes
          :releases
          :latest-released-changes
          :announcements
          :blogs}}
       :bug
       ;; - :confirmed-bugs :acked-bugs
       ;; - :unconfirmed-bugs :unacked-bugs
       ;; - :handled-bugs :owned-bugs
       ;; - :unhandled-bugs :unowned-bugs
       ;; - :fixed-bugs :closed-bugs
       ;; - :canceled-bugs :closed-bugs
       ;; - :unfixed-bugs :unclosed-bugs
       ;; - :uncanceled-bugs :unclosed-bugs
       {:reports #{:unconfirmed-bugs :confirmed-bugs :handled-bugs}}
       :patch
       ;; - :approved-patches :unacked-patches
       ;; - :unapproved-patches :unacked-patches
       ;; - :handled-patches :owned-patches
       ;; - :unhandled-patches :unowned-patches
       ;; - :applied-patches :closed-patches
       ;; - :canceled-patches :closed-patches
       ;; - :unapplied-patches :unclosed-patches
       ;; - :uncanceled-patches :unclosed-patches
       {:reports #{:unapproved-patches :approved-patches :handled-patches}}
       :request
       ;; - :approved-requests :acked-requests
       ;; - :unapproved-requests :unacked-requests
       ;; - :handled-requests :owned-requests
       ;; - :unhandled-requests :unowned-requests
       ;; - :done-requests :closed-requests
       ;; - :canceled-requests :closed-requests
       ;; - :uncanceled-requests :unclosed-requests
       ;; - :undone-requests :unclosed-requests
       {:reports #{:unapproved-requests :approved-requests :handled-requests}}
       :overview false}}
 }
