{:version     "0.1.0-SNAPSHOT"
 :description "Watch Over Our Folders"
 :url         "https://github.com/bzg/woof"
 :license     {:name "Eclipse Public License - v 2.0"
               :url  "http://www.eclipse.org/legal/epl-v20.html"}
 :paths       ["src" "resources"]
 :deps        {org.clojure/clojure       {:mvn/version "1.10.1"}
               io.forward/clojure-mail   {:mvn/version "1.0.8"}
               http-kit                  {:mvn/version "2.3.0"}
               clj-rss                   {:mvn/version "0.2.5"}
               hiccup                    {:mvn/version "1.0.5"}
               metosin/reitit            {:mvn/version "0.5.1"}
               metosin/reitit-ring       {:mvn/version "0.5.1"}
               metosin/reitit-middleware {:mvn/version "0.5.1"}
               ring-cors                 {:mvn/version "0.1.13"}
               clojure.java-time         {:mvn/version "0.3.2"}}
 :aliases
 {:uberjar {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "hf.depstar.uberjar" "woof.jar"
                         "-C" "-m" "bzg.woof"]}}}
