{:version     "0.2.3"
 :description "Watch Over Our Folders"
 :url         "https://github.com/bzg/woof"
 :license     {:name "Eclipse Public License - v 2.0"
               :url  "http://www.eclipse.org/legal/epl-v20.html"}
 :paths       ["src" "resources"]
 :deps        {org.clojure/clojure       {:mvn/version "1.10.3"}
               io.forward/clojure-mail   {:mvn/version "1.0.8"}
               http-kit/http-kit         {:mvn/version "2.5.3"}
               clj-rss/clj-rss           {:mvn/version "0.2.7"}
               markdown-clj/markdown-clj {:mvn/version "1.10.6"}
               metosin/reitit            {:mvn/version "0.5.15"}
               metosin/reitit-ring       {:mvn/version "0.5.15"}
               metosin/reitit-middleware {:mvn/version "0.5.15"}
               metosin/jsonista          {:mvn/version "0.3.4"}
               metosin/muuntaja          {:mvn/version "0.6.8"}
               ring/ring-devel           {:mvn/version "1.9.4"}
               ring-cors/ring-cors       {:mvn/version "0.1.13"}
               mount/mount               {:mvn/version "0.1.16"}
               tea-time/tea-time         {:mvn/version "1.0.1"}
               com.sun.mail/javax.mail   {:mvn/version "1.6.2"}
               com.draines/postal        {:mvn/version "2.0.4"}
               org.clojure/core.async    {:mvn/version "1.3.622"}
               com.taoensso/timbre       {:mvn/version "5.1.2"}
               selmer/selmer             {:mvn/version "1.12.44"}
               datalevin/datalevin       {:mvn/version "0.5.25"}}
 :aliases
 {:run {:main-opts ["-m" "bzg.web"]}

  :uberdeps {:replace-deps  {uberdeps/uberdeps {:mvn/version "1.0.4"}}
             :replace-paths []
             :main-opts     ["-m" "uberdeps.uberjar"]}

  :test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                       com.cognitect/test-runner 
                       {:git/url "https://github.com/cognitect-labs/test-runner"
                        :sha     "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}}
         :main-opts   ["-m" "cognitect.test-runner"
                       "-d" "test"]}}}
