{:version     "0.2.3"
 :description "Watch Over Our Folders"
 :url         "https://github.com/bzg/woof"
 :license     {:name "Eclipse Public License - v 2.0"
               :url  "http://www.eclipse.org/legal/epl-v20.html"}
 :paths       ["src" "resources"]
 :deps        {org.clojure/clojure       {:mvn/version "1.11.1"}
               io.forward/clojure-mail   {:mvn/version "1.0.8"}
               http-kit/http-kit         {:mvn/version "2.6.0"}
               clj-rss/clj-rss           {:mvn/version "0.4.0"}
               markdown-clj/markdown-clj {:mvn/version "1.11.3"}
               metosin/reitit            {:mvn/version "0.5.18"}
               metosin/reitit-ring       {:mvn/version "0.5.18"}
               metosin/reitit-middleware {:mvn/version "0.5.18"}
               metosin/jsonista          {:mvn/version "0.3.6"}
               metosin/muuntaja          {:mvn/version "0.6.8"}
               ring/ring-devel           {:mvn/version "1.9.6"}
               ring-cors/ring-cors       {:mvn/version "0.1.13"}
               mount/mount               {:mvn/version "0.1.16"}
               tea-time/tea-time         {:mvn/version "1.0.1"}
               com.draines/postal        {:mvn/version "2.0.5"}
               org.clojure/core.async    {:mvn/version "1.5.648"}
               com.taoensso/timbre       {:mvn/version "5.2.1"}
               selmer/selmer             {:mvn/version "1.12.55"}
               datalevin/datalevin       {:mvn/version "0.6.22"}
               com.cognitect/transit-clj {:mvn/version "1.0.329"}
               medley/medley             {:mvn/version "1.4.0"}
               aero/aero                 {:mvn/version "1.1.6"}}
 :aliases
 {:run {:main-opts ["-m" "bzg.web"]
        :jvm-opts  ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}

  :uberdeps {:extra-deps {uberdeps/uberdeps {:mvn/version "1.1.0"}}
             :main-opts  ["-m" "uberdeps.uberjar"]}

  :test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.70.1086"}}
         :main-opts   ["-m" "kaocha.runner"]
         :jvm-opts    ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                       "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
  }}
