<section>
  <div>
    <h1>{{title}}</h1>
    <h2>
      <a href="/">{{config.i18n.Home}}</a>
      — <a title="{{config.i18n.Go-to-project-page}}" href="{{project-url}}">{{project-name}}</a>
      {% ifunequal sources|count 1 %}
      — <a title="{{config.i18n.List-sources}}" href="/sources">{{config.i18n.Sources}}</a>
      {% endifunequal %}
      {% if contribute-url %}
      — <a title="{{config.i18n.Contribute-project}}" href="{{contribute-url}}">{{config.i18n.Contribute}}</a>
      {% endif %}
      {% if support-url %}
      — <a title="{{config.i18n.Support-project}}" href="{{support-url}}">{{config.i18n.Support}}</a>
      {% endif %}
      — <a href="howto" title="{{config.i18n.How-to-woof}}">{{config.i18n.Howto}}</a>
    </h2>

    {% ifunequal page "sources" %}
    {% ifunequal page "overview" %}
    {% ifunequal page "howto" %}
    {% ifunequal page "404" %}

    <div style="display:flex;">
      <form>
      <label>
	<input type="checkbox" name="closed"
	       {% ifequal closed? "on" %}checked{% endifequal %}> {{config.i18n.With-closed?}}
      </label>
      <input type="text" name="search" value="{{search}}"
	     placeHolder="{{config.i18n.Search-form-placeholder}}">
      <button type="submit">{{config.i18n.Filter}}</button>
      </form>
      <form style="margin-left: 1rem;">
	<button type="submit">❌</button>
      </form>
    </div>

    {% endifunequal %}
    {% endifunequal %}
    {% endifunequal %}
    {% endifunequal %}
  </div>
</section>
