<div>
  <ul>
    <li {% ifequal page "index" %}{% endifequal %}>
      <a href=".">{{config.i18n.All}}</a>
    </li>

    {% if display.news %}
    <li {% ifequal page "news" %}{% endifequal %}>
      <a href="news">{{config.i18n.News}}</a>
    </li>
    {% endif %}

    {% if display.bug %}
    <li {% ifequal page "bug" %}{% endifequal %}>
      <a href="bugs">{{config.i18n.Bugs}}</a>
    </li>
    {% endif %}

    {% if display.patch %}
    <li {% ifequal page "patch" %}{% endifequal %}>
      <a href="patches">{{config.i18n.Patches}}</a>
    </li>
    {% endif %}

    {% if display.request %}
    <li {% ifequal page "request" %}{% endifequal %}>
      <a href="requests">{{config.i18n.Requests}}</a>
    </li>
    {% endif %}

    {% if display.overview %}
    <li {% ifequal page "overview" %}{% endifequal %}>
      <a href="overview">{{config.i18n.Overview}}</a>
    </li>
    {% endif %}
  </ul>
</div>
