<section class="hero">
  <div class="hero-body" style="padding: 2rem 1.2rem">
    <h1 class="title has-text-centered" style="margin-bottom: 1em;">{{title}}</h1>
    <h2 class="subtitle column is-8 is-offset-2 has-text-centered" style="margin-bottom:0;">
      <a href="/">{{config.i18n.Home}}</a>
      — <a title="{{config.i18n.Go-to-project-page}}" href="{{project-url}}">{{project-name}}</a>
      {% ifunequal sources|count 1 %}
      — <a title="{{config.i18n.List-sources}}" href="/sources">{{config.i18n.Sources}}</a>
      {% endifunequal %}
      {% if contribute-url %}
      — <a title="{{config.i18n.Contribute-project}}" href="{{contribute-url}}">{{config.i18n.Contribute}}</a>
      {% endif %}
      {% if support-url %}
      — <a title="{{config.i18n.Support-project}}" href="{{support-url}}">{{config.i18n.Support}}</a>
      {% endif %}
      — <a href="howto" title="{{config.i18n.How-to-woof}}">{{config.i18n.Howto}}</a>
    </h2>

    {% ifunequal page "sources" %}
    {% ifunequal page "overview" %}
    {% ifunequal page "howto" %}
    {% ifunequal page "404" %}
    <div class="columns">
      <div class="column is-offset-3 is-6">
	<div class="level">
	  <form class="level-item">
	    <label class="level-item checkbox mx-2">
	      <input type="checkbox" name="closed"
		     {% ifequal closed? "on" %}checked{% endifequal %}> {{config.i18n.With-closed?}}
	    </label>
	    <input type="text" class="input mx-2" name="search" value="{{search}}"
		   placeHolder="Plain text search">
	    <button class="button is-success is-light" type="submit">{{config.i18n.Filter}}</button>
	  </form>
	  <form class="level-item">
	    <button class="button is-danger is-light" type="submit">❌</button>
	  </form>
	</div>
      </div>
    </div>
    {% endifunequal %}
    {% endifunequal %}
    {% endifunequal %}
    {% endifunequal %}
  </div>
</section>
