<!DOCTYPE html>
<html lang="en">
  {% include "html/bulma/head.html" %}
  <body>
    {% include "html/bulma/hero.html" %}
    <div class="container">
      {% if howto %}
      {% safe %}
      <div class="content">{{howto}}</div>
      {% endsafe %}
      {% else %}
      {% include "html/bulma/changes.html" %}
      {% include "html/bulma/help.html" %}
      {% include "html/bulma/bugs.html" %}
      {% include "html/bulma/patches.html" %}
      {% include "html/bulma/releases.html" %}
      {% endif %}
    </div>
    {% include "html/bulma/footer.html" %}
  </body>
</html>
